.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    fill: black;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

path { 
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.dot {
    fill: #d3d3d3;
    stroke: #fff;
}

.ticks path {stroke:green;opacity:0.3} 

.content {
    max-width: 800px;
    margin: auto;
    background-color:white;
}